@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Oswald", sans-serif
}

/*--------------------------------------------Jumbotron*/

.jumbotron {
    background-color: #000;
    border-radius: 0;
}

.white-text {
    color: white;
}

.purple-hover:hover {
    color: white;
    background-color: #7910e8;
    border-color: #7910e8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

/*--------------------------------------------You Will Need*/
.you-need {
    background-color: #000;
    border-radius: 0;
}

.you-need ul {
    list-style: none;
}

.dice-img {
    vertical-align: middle;
}

/*--------------------------------------------Characters*/
.carousel-indicators .active{
    background-color: #000;
}

.carousel-indicators li {
    background-color: #aaa;
}

.carousel-indicators {
    margin-bottom: 0rem;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.carousel-control-prev {
    padding-right: 50px;
}
.carousel-control-next {
    padding-left: 50px;
}

/*--------------------------------------------Places to Play*/



.places-to-play-icon {
    color: #7910e8;
    font-size: 40px;
}

/*--------------------------------------------Where to play*/

div#map {
    min-height: 400px;
}

/*--------------------------------------------Rules*/

.rolling-example{
    align-items: center;
}

.rolling-example i {
    font-size: 45px;
}

.rolling-ability {
    margin: auto;
}

.rolling-ability i {
    text-align: center;
}

.attack-defend-headers{
    font-size: 15px;
}

.attack-defend-examples {
    font-size: 35px;
    align-items: center;
    white-space: nowrap;
}

.attack-vs {
    font-size: 20px;
}

.vitruvian-man {
    width: 100%;
}

/*--------------------------------------------Experiment*/
.ability-circle {
    margin-right: auto;
    margin-left: auto;
}

#divCircle { 
    width: 500px;
    height: 500px;
}
 
.off {
    position: absolute;
    font-size: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    padding: 26px 0;
    margin: 20px;
}

.on {
    position: absolute;
    font-size: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #7910e8;
    padding: 26px 0;
    margin: 20px;
}
 
#middleBubble {
  text-align:center;
  background: url(../images/blackcircle.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #252525; 
  height:75%;       
  width: 75%;   
  margin: auto;
  padding: 45px;
}

/*--------------------------------------------Footer*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}
.rpg-pdf {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}
.rpg-pdf:hover {
    color: #7910e8;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}



.rpg-pdf i:hover {
    color: #7910e8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
    margin: 1rem;
}

.footer-links {
    text-align: center;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin: 20px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;

}

.social-links li a i:hover {
    background: #7910e8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#footer-details {
    margin: 20px;
}

.list-inline {
    display: inline-flex
}

footer p {
    margin: 1rem 0;
}