@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Oswald", sans-serif
}

/*--------------------------------------------Jumbotron*/

.jumbotron {
    background-color: #000;
    border-radius: 0;
}

.white-text {
    color: white;
}

.purple-hover:hover {
    color: white;
    background-color: #7910e8;
    border-color: #7910e8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

/*--------------------------------------------You Will Need*/
.you-need {
    background-color: #000;
    border-radius: 0;
}

.you-need ul {
    list-style: none;
}

.dice-img {
    vertical-align: middle;
}
/*--------------------------------------------Footer*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}
.rpg-pdf {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}
.rpg-pdf:hover {
    color: #7910e8;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}



.rpg-pdf i:hover {
    color: #7910e8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
    margin: 1rem;
}

.footer-links {
    text-align: center;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin: 20px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;

}

.social-links li a i:hover {
    background: #7910e8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#footer-details {
    margin: 20px;
}

.list-inline {
    display: inline-flex
}

footer p {
    margin: 1rem 0;
}